# Node modules
node_modules/

# Auth info sessions
auth_info_sessions/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test

# Temporal files
tmp/
temp/
.tmp/
.temp/

# Database
database/*.json

# Media
media/received/
media/user/

# Session
session.json
*.session.json

# Misc
.DS_Store
Thumbs.db
desktop.ini
*.zip
*.tar.gz
*.rar

# Editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
